{
  "presets": [ "es2015", "stage-2" ],
  "plugins": [ "transform-runtime" ],
  "env": {
    "development": {
      "sourceMaps": "inline"
    },
    "test": {
      "plugins": [
        [ "babel-plugin-webpack-loaders", {
          "config": "${CONFIG}",
          "verbose": false
        } ]
      ]
    }
  }
}
