.wrap {
  padding: 30px 15px;
}

.h5 {
  margin: 0;
  padding: 0 0 30px;
}

.code {
  background: #efefef;
  border-radius: 3px;
  display: block;
  font-size: 0.9em;
  margin-bottom: 30px;
  overflow: scroll;
  padding: 10px;
}
