.hero {
  background: linear-gradient(to left, #005c97, #363795);
  height: calc(100vh - 50px);
  > div {
    padding: 100px 10px;
    text-align: center;
    h3 {
      color: white;
      margin-bottom: 50px;
    }
  }
}
