.hero {
  /*background-image: url('../../../../../public/img/about-hero.jpeg');*/
  background-position: 50% 75%;
  background-size: cover;
  > div {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.5));
    padding: 100px 10px;
    text-align: center;
    h3 {
      color: white;
      margin-bottom: 50px;
    }
  }
}
