.hero {
  > div {
    background: linear-gradient(to left, #134e5e, #71b280);
    height: calc(100vh - 310px);
    padding: 130px 10px;
    text-align: center;
    h4 {
      color: white;
      line-height: 1.2;
      margin-bottom: 50px;
    }
  }
  .loggedIn {
    background: linear-gradient(to left, #673ab7, #512da8);
  }
  hr {
    background: linear-gradient(to right, #134e5e, #71b280);
    border: none;
    height: 1px;
    margin: 30px;
  }
}
